@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');

body {
    margin: 0px;
}
.Header {
    font-family: 'Agdasima', sans-serif;
    font-size: 2rem;
    background-color: #0C0910;
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 0px;
}
.Title{
    margin: 0.5rem;
    color: #9882AC
}